<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <section class="col-sm-9 col-md-7 py-4">
          <app-about></app-about>
        </section>
        <section class="col-sm-3 offset-md-1 py-4">
          <app-contacts></app-contacts>
        </section>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a (click)="homeClicked()" class="navbar-brand d-flex align-items-center" style="cursor: pointer;">
        <strong>Marvel</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>