<div class="col h-100 d-flex" style="cursor: pointer;">
    <div class="card shadow-sm" (click)="cardClicked()">
        <img class="bd-placeholder-img card-img-top h-100" src="{{source?.thumbnail}}" alt="">
        <div class="card-body">
            <h5>{{source?.name}}</h5>
            <p class="card-text text-truncate" *ngIf="source?.description; else NotFound">{{source?.description}}</p>
            <ng-template #NotFound>
                <p class="card-text text-truncate">no information</p>
            </ng-template>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary">Ver mais</button>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
            </div>
        </div>
    </div>
</div>